on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Choose Env"
        required: true
        default: "staging"
        type: choice
        options:
          - staging
          - production

jobs: 
  deploy:
    runs-on: ubunutu-latest
    steps:
      - name: Deploy App
        run: echo "deploying App..."
